.tabla1{
     font-family: "Arial";
     text-align: center;
     
}
.thEj2E{
    background-color: rgb(223, 220, 220);
    
}
.th1Ej2E{
    background-color: #E6F3FF;   
    text-align: left;
   
}
.tdEj{
    background-color: #FFFFCC;
 
}

