body{
    background-color: rgb(231, 215, 194); 
    font-size: 80px; 
}

h1{
    text-align: center;
    font-family: "Times New Roman";
    font-size: 80px;
    color: blue;    
}
a{
    color:red;
    font-size: 50px;
    font-family: "Times New Roman";
    transition: 1s;
}
a:hover{
  
background-color: #cc0000;
   color:white;
   text-decoration: none;
   font-style: italic;
   font-size:100px;
   font-family: "Arial";
}

h2{
    text-align: center;
    font-family: "Arial";
    font-size: 50px;   
    color: brown;
}
.uno{
    text-align: center;
    font-size: 30px;
    font-family: "Serif";
    color:green
}
.dos{
    text-align: center;
    font-size: 20px;
    font-family:"Sans";
    color:gray;
}
.Enlace1{
    text-align: center;
    font-size: 90px;
    color:#cc0000;   
    
}

.Enlace1:hover{
    font-size: 160px;
    color:blue;
    font-style: italic;
}

.Ej9{
    background-color:rgb(250, 185, 161);
font-family: "Times New Roman";
font-size: 20px;
}
.h1Ej9{
    color: darkslategray;
    font-size: 50px;

}
.span1{
    color:red;

}
.span2{
    color:coral;
}
.span3{
    text-decoration: underline;
    color:red;

}
.span4{
    color:blue;
    text-decoration: underline;
   font-style: italic;
}
.span5{
color:blueviolet;
}
.span6{
color:crimson;
}
.span7{
color: springgreen;
text-decoration: underline;
}

.td1{
color:darkgoldenrod;
}



.td2{
color:darkgreen;

}
.td3{
color:red;

}
.span7{
    text-decoration: none;
 
}
.fs-1{
    color: red;
    font-size: 120px;
    font-style: bold;
    font-family: "Arial";
}
.container{
    text-align: center;   
}
.body-Ej13{
    margin-left: 20px;
    background-color:lemonchiffon;

}
.border-Ej13{
    border: 2px solid black;
    margin: 20px;
    padding: 40px;
}
.h1-Ej13{
font-family:"Georgia";
font-size: 80px;
color:blue;
}
.label1-Ej13{
    text-align: center;
    font-family: "Arial";
    font-size: 40px;
}
.password-Ej13{
    font-size: 20px;
}
.form-control-Ej13{
    font-size: 30px;
}
.form-check-input{   
    border: 1px black solid ;
    background-color: grey;
    font-size: 40px;
}
.form-check-label{    
    font-family: "Arial"; 
    font-size: 40px;     
}
.btn-primary-Ej13{
    text-align: center;
    color:white;
    background-color: blue;
    font-size: 40px;
}
